#map {
	bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.leaflet-control.leaflet-control-layers,
.leaflet-control.leaflet-control-zoom {
	margin-top: 8em;
}

@media screen and (min-width: 600px) {
	.leaflet-control.leaflet-control-layers,
	.leaflet-control.leaflet-control-zoom {
		margin-top: 4em;
	}
}
