.s2-label {
	font-weight: bolder;
	margin: 2px !important;
	/* Use color, background, set margins for offset, etc */
}

.s2-label.s2-count {
	color: red;
	font-size: 150%;
	/* margin-left: -0.6em !important;
	margin-top: -0.3em !important; */
}

.s2-label.s2-total {
	color: blue;
	font-size: 150%;
	margin-left: 0.1em !important;
	margin-top: -1.2em !important;
}
